@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Variaveis do ROOT*/
:root {
    --color-primary: #7380ec;
    --color-sucess: #00C244;
    --color-warning: #ffbb55;
    --color-danger: #dd1b1b;
    --color-white: #fff;
    --color-info-dark: #818D9C;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #000000;
    --color-background: #f6f6f9;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
}
/*--------Dark THEME VARIVAIES*/
.dark-theme-variables{
    --color-background:#181a1e;
    --color-dark:#B2BBC2;
    --color-white: #2B2E36;
    --color-dark-variant:#B2BBC2;
    --color-light:rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

/**Corresponde a toda aplicação**/
.aplicacao {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

.aplicacao h2 {
    font-size: 1.4rem;
}

.aplicacao a {
    color: var(--color-dark);
}

.aplicacao img {
    display: block;
    width: 100%;
}

.aplicacao small {
    font-size: 0.75rem;
}

.aplicacao small .text-muted {
    color: var(--color-dark);
}


/**Corresponde ao tamanho menu lateral**/
.menu-lateral {
    height: 100vh;
}

/**Corresponde a logo (a logo faz parte do menu lateral)**/
.logo-container {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

.logo-container.logo {
    display: flex;
    gap: 0.8rem;
}

.logo-container .close {
    display: none;
}

/**Corresponde as opcoes listadas no menu lateral**/
.opcoes-menu {
    background: transparent;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

.opcoes-menu h3 {
    font-weight: 500;
    font-size: 0.87rem;
}

.opcoes-menu  a {
    display: flex;
    color: var(--color-dark);
    margin-left: 1%;
    gap: 2%;
    align-items: center;
    position: relative;
    height: 3.7rem;
}

.opcoes-menu a span {
    font-size: 25.6px;
    transition: all 200ms ease;
}

.opcoes-menu a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

.opcoes-menu a.active:before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

.opcoes-menu a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

.opcoes-menu a:hover {
    color: var(--color-primary);
}

.opcoes-menu a:hover span {
    margin-left: 1rem;
}

/**Secao de pedidos**/
.secao-pedidos {
    margin-top: 4rem;
}

.secao-pedidos h2 {
    margin-left: 2rem;
    margin-bottom: 0.8rem;
}

.secao-pedidos table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: left;
    box-shadow: var(--box-shadow);
    transition: all 200ms ease;
}

.secao-pedidos table th {
    font-size: 20px;
}

.secao-pedidos table tbody td {
    height: 3.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

.secao-pedidos table tbody tr:last-child td {
    border: none;
}

.secao-pedidos a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

.aproximação-hover:hover{
    transform: scale(1.2);
}

.aproximação-hover {
    transition: 100ms linear;
    max-width: 10%;
}

/**Perfil lateral**/
.perfil-lateral {
    margin-top: 1.64rem;
}

.secao-superior {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.secao-superior button {
    display: none;
}

.secao-superior .alterar-tema {
    background: var(--color-light);
    display: flex;
    align-self: center;
    height: 1.6rem;
    width: 4.2rem;
    border-radius: var(--border-radius-1);
    cursor: pointer;
}

.secao-superior .alterar-tema span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secao-superior .alterar-tema span.active {
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.secao-superior .perfil-cliente {
    display: flex;
    gap: 2rem;
    align-items: center;
    text-align: right;
}

.secao-superior .perfil-cliente .info-cliente p {
    font-size: 15px;
}

.secao-superior .perfil-cliente .foto-perfil {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

/**Atualizacoes recentes**/

.secao-atualizacoes {
    margin-top: 5rem;
}

.secao-atualizacoes h2 {
    text-align: center;
    margin-bottom: 0.8rem;
}

.secao-atualizacoes .atualizacoes-recentes {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 200ms ease;
}

.secao-atualizacoes .atualizacoes-recentes .atualizacao {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

.secao-atualizacoes .atualizacoes-recentes .profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

/*====MEDIA QUERIES===================*/

@media screen and (max-width: 1200px) {
    .aplicacao {
        width: 94%;
    }

    .menu-lateral a {
        width: 5.6rem;
    }

    .logo h2 {
        display: none;
    }

    .menu-lateral a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

    .secao-pedidos {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 8.8rem;
    }

    .secao-pedidos table {
        width: 83vw;
    }
}

/*========== MEDIA QUERIES ======*/

@media screen and (max-width:768px) {
    .aplicacao{
        width: 100%;
        grid-template-columns: 1fr;
    }

    .menu-lateral {
        position: fixed;
        left: -100;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 200ms ease forwards;
    }

    @keyframes showMenu{
        to{
            left: 0;
        }
    }

    .logo {
        margin-left: 1rem;
    }

    .logo h2 {
        display: inline;
    }

    .logo h3 {
        display: inline;
    }

    .manu-lateral a {
        margin-left: 1rem;
        width: 100%;
        height: 3.4rem;
    }

    .menu-lateral a:last-child {
        position: absolute;
        top: 2rem;
        bottom: 5rem;

    }

    .menu-lateral .close {
        display: inline-block;
        cursor: pointer;
        margin-left: 1rem;
    }

    .secao-pedidos {
        margin-top: 8rem;
        padding: 0 1rem;
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    .secao-pedidos table {
        width: 100%;
        margin: 0;
    }

    .perfil-lateral {
        width: 94%;
        margin: 0 auto 4rem;
    }

    .perfil-lateral .secao-superior {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .perfil-lateral .secao-superior .alterar-tema {
        width: 3rem;
        position: absolute;
        left: 66%;
    }

    .secao-lateral .secao-superior button span {
        font-size: 2rem;
    }

}
