@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/*--------Dark THEME VARIVAIES*/
.dark-theme-variables{
    --color-background:#181a1e;
    --color-dark:#B2BBC2;
    --color-white: #2B2E36;
    --color-dark-variant:#B2BBC2;
    --color-light:rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}
.cliente {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}
img {
    display: block;
    width: 100%;
}

